In [ ]:
pip install snscrape

In [11]:
import pandas as pd
import itertools
import snscrape.modules.twitter as sntwitter
import numpy as np
import pandas as pd

In [9]:
import snscrape.modules.twitter as sntwitter

In [15]:
# Getting 100 tweets in english with the hashtag "stockmarket by user Tickeron" 
df = pd.DataFrame(itertools.islice(sntwitter.TwitterSearchScraper('from: MadsC007').get_items(), 100))

In [20]:
df

,url,date,content,id,username,outlinks,outlinksss,tcooutlinks,tcooutlinksss
0,https://twitter.com/NicolaiThomsenn/status/135...,2021-01-23 19:51:11+00:00,@MadsC007 @JacobWeitze TTCF guidance from Dec....,1353067775615397889,NicolaiThomsenn,[],,[],
1,https://twitter.com/JacobWeitze/status/1353043...,2021-01-23 18:14:42+00:00,@MadsC007 1\nI don't dare to give an estimate ...,1353043496937123840,JacobWeitze,[],,[],
2,https://twitter.com/nielsen_kim10/status/13529...,2021-01-23 13:52:30+00:00,@MadsC007 Very bad intervewier from Georg but ...,1352977511622320128,nielsen_kim10,[],,[],
3,https://twitter.com/mads_sparholt/status/13527...,2021-01-22 21:42:57+00:00,@mhvestergaard @MadsC007 2. It’s basically jus...,1352733516216348672,mads_sparholt,[],,[],
4,https://twitter.com/_Sean_________/status/1351...,2021-01-20 19:04:33+00:00,@hhhypergrowth @MadsC007 This helps $SNOW bene...,1351968878889476102,_Sean_________,[],,[],
...,...,...,...,...,...,...,...,...,...
95,https://twitter.com/nomadcat/status/1339941508...,2020-12-18 14:32:05+00:00,"@SehrLangsam2 @MadsC007 @michaelbkrause ""PE mi...",1339941508968030209,nomadcat,[],,[],
96,https://twitter.com/SehrLangsam2/status/133993...,2020-12-18 14:25:33+00:00,@nomadcat @MadsC007 @michaelbkrause the 4-5 tr...,1339939866616999936,SehrLangsam2,[],,[],
97,https://twitter.com/aadhansen/status/133971744...,2020-12-17 23:41:45+00:00,@ProtagorasTO @clueless_1337 @cameroniadeluca ...,1339717449680375809,aadhansen,[],,[],
98,https://twitter.com/aadhansen/status/133971649...,2020-12-17 23:37:57+00:00,@MadsC007 @clueless_1337 @cameroniadeluca @dha...,1339716492263387139,aadhansen,[],,[],
99,https://twitter.com/MadsLarsenDK/status/133954...,2020-12-17 12:07:14+00:00,@MadsC007 @MadsDahl2 Wh...What?!?\nWhat do you...,1339542667324223489,MadsLarsenDK,[],,[],

In [23]:
test= df['content'][0]

In [119]:
test

'@MadsC007 @JacobWeitze TTCF guidance from Dec. 2020 https://t.co/TRESkdfuQF'

In [120]:
#Should only return a potential ticker if there's 2, 3, or 4 capital letters followed 
# by a comma, full-stop or space, but not preceeded by a capital letter.
potential_ticker = []
stoppers = ['.', ',', ' ']
for i in range(len(test)-2):
    if test[i].isupper():
        if test[i+1].isupper():
            if test[i+2] in stoppers:
                if not test[i-1].isupper():
                    potential_ticker.append(test[i]+test[i+1])
            if test[i+2].isupper():
                if test[i+3] in stoppers:
                    if not test[i-1].isupper():
                        potential_ticker.append(test[i]+test[i+1]+test[i+2])
                if test[i+3].isupper():
                    if test[i+4] in stoppers:
                        if not test[i-1].isupper():
                            potential_ticker.append(test[i]+test[i+1]+test[i+2]+test[i+3])

In [121]:
potential_ticker

['TTCF']

In [63]:
df = pd.read_csv('esg_scores.csv', delimiter=',')
weighted_esg = []
weight_sum = 0

#Compute sum of weights of all tickers with ESG data
for i in range(0, len(df)):
    if not np.isnan(df['2'][i]):
        weight_sum += df['1'][i]

#Compute weighted average of ESG data
for i in range(0, len(df)):
    if not np.isnan(df['2'][i]):
        weighted_esg.append(df['1'][i] / weight_sum * df['2'][i])
    else:
        weighted_esg.append(None)

#Append weighted average ESG as new column and sort by decreasing sustainability (ascending weighted risk score)
df['c3'] = weighted_esg
sorted_df = df.sort_values(by=['2'],ascending=True)
sorted_df2 = df.sort_values(by=['2'],ascending=False)

#Export to csv file
sorted_df.to_csv('decr_sustainability.csv', index=False)
sorted_df2.to_csv('incr_sustainability.csv', index=False)

In [65]:
decr_sus_rank = pd.read_csv('decr_sustainability.csv')

In [68]:
decr_sus_rank

        0         1     2        c3
0    CBRE  0.074289   7.0  0.005507
1     TEL  0.121667   9.0  0.011595
2     PLD  0.214671  10.0  0.022732
3    PEAK  0.065042  10.0  0.006887
4    KEYS  0.070226  10.0  0.007436
..    ...       ...   ...       ...
500  FLIR  0.026520   NaN       NaN
501   FOX  0.022215   NaN       NaN
502   HRB  0.018133   NaN       NaN
503    UA  0.013380   NaN       NaN
504   NWS  0.006826   NaN       NaN

[505 rows x 4 columns]

First we must find out if the ticker is in the list

In [117]:
tickers = []
for ticker in range(len(decr_sus_rank['0'])):
    for j in range(len(potential_ticker)):
        if potential_ticker[j] == decr_sus_rank['0'][ticker]:
            tickers.append(potential_ticker[j])

In [118]:
tickers

[]

In [76]:
decr_sus_rank['0']

0      CBRE
1       TEL
2       PLD
3      PEAK
4      KEYS
       ...
500    FLIR
501     FOX
502     HRB
503      UA
504     NWS
Name: 0, Length: 505, dtype: object